input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(36, 36, 36);
    caret-color: transparent;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#display {
    z-index: 2;
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
}

#transitionScreen {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0%;
    z-index: 0;
}
button {
    background-color: rgba(0, 247, 255, 0.452);
    color: rgb(161, 241, 255);
    border-style: groove;
    border-color: rgb(161, 241, 255);
}
#container {
    pointer-events: auto;
    position: relative;
    width: 960px;
    height: 540px;
    background-color: rgb(0, 0, 0);
    background-image: url('Assets/Backgrounds/menu.png');
    border: 2px solid rgb(88, 88, 88);
    overflow: hidden;
    margin: auto;
}
#menuControls {
  top: 360px;
  left: 0px;
  position: relative;
  width: 100%;
  text-align: center;
}
#playButton, #mapsButton, #settingsButton {
    width: 200px;
    height: 50px;
    position: relative;
}
#mapPreview {
    position: absolute;
    bottom: 0px;
    left: 10px;
    background-color: rgba(0, 247, 255, 0.452);
    color: rgb(161, 241, 255);
    border-style: groove;
    border-color: rgb(161, 241, 255);
}
#gameControls, #mapsControls, #settingsControls {
    display: none;
}
#backToMenu {
    position: absolute;
    top: 5px;
    left: 5px;
}
#asteroid {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}
#footnote {
    position: relative;
    color: rgb(175, 175, 175);
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}
a {
    color: rgb(49, 194, 204);
}