input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: rgb(36, 36, 36);
    caret-color: transparent;
}
#siteIcon {
    position: relative;
    width: 50px;
}
#spriteLayer {
    z-index: 1;
    pointer-events: none;
    position: absolute;
}
#towerLayer, #projectileLayer {
    z-index: 3;
    pointer-events: none;
    position: absolute;
}
#pointerLayer {
    z-index: 4;
    pointer-events: none;
    touch-action: none;
    position: absolute;
}
#transitionScreen {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0%;
    z-index: 0;
}
.edge {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    pointer-events: none;
    touch-action: none;
}
#edgeContainer {
    pointer-events: none;
}
button {
    background-color: rgba(0, 247, 255, 0.452);
    color: rgb(161, 241, 255);
    border-style: groove;
    border-color: rgb(161, 241, 255);
}
#container {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url('Assets/Backgrounds/menu.png');
    border: 2px solid rgb(88, 88, 88);
    overflow: hidden;
    margin: auto;
}
.menuButtonsContainer {
  top: 360px;
  left: 0px;
  position: relative;
  width: 100%;
  text-align: center;
}
.menuButton {
    width: 200px;
    height: 50px;
    position: relative;
}
#mapPreview {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 247, 255, 0.452);
    color: rgb(161, 241, 255);
    border-style: groove;
    border-color: rgb(161, 241, 255);
    text-align: center;
}
#gameControls, #mapsControls, #settingsControls {
    display: none;
}
#gameControls {
    z-index: 3;
}
#backToMenu {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: inherit;
}
#fullscreenButton {
    position: relative;
    justify-self: center;
    z-index: inherit;
}
.gamePanel {
    position: absolute;
    color: white;
    bottom: 20px;
    right: 10px;
    z-index: 3;
    font-size: 15px;
}
#asteroid {
    bottom: 10px;
    left: 10px;
    position: absolute;
    width: 100%;
    text-align: center;
}
#footnote {
    position: relative;
    color: rgb(175, 175, 175);
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: larger;
}
a {
    color: rgb(49, 194, 204);
}
#loadingScreen {
    position: absolute;
    background-color: rgb(78, 78, 78);
    z-index: 5;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: larger;
    display: block;
}
#mobilePlacement {
    display: none;
}